.cart-icons{
    position: relative;
    padding-right: 10px;
    transition: all .3s ease;
}
.nav-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    height:70px;
    background-color:#c2aa97;
    width: 100%;
    margin: 0;
}
a{
    text-decoration: none!important;

}
.nav-container h1{
    color: #202020;
    text-decoration: none!important;
}
.cart-number{
    position: absolute;
    background-color: #a08a79;
    color: #ffffff;
    top: 2px;
    right: 1px;
    min-width: 22px;
    min-height: 22px;
    padding: 0 0 0 1px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
}
.icon{
width:40px;
height: 40px;
cursor: pointer;
color:#202020;
}