.cart-item{
   margin: 10px 0;
   padding: 0 15px;
}
.cart-item{
    padding: 0 15px;
}
.card-container{
    display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 30px;
}
.img-container{
    width:100%;
    height:300px;
   border-radius: 5px;
}
.img-container img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.des-container{
    padding: 10px;
    height: 100px;
}
.button-cont{
    height: 50px;

}
.productName{
    font-size:13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.productPrice{
    font-size:17px;
    font-weight:700;
    color:#e10600;
}
.cart-button{
    cursor:pointer;
    font-weight: 500;
    width: 100%;
    background-color: #c2aa97;
    border:none;
    color:#ffffff;
    border-radius: 20px;
    outline: 0;
    transition: all .3s ease;
    padding: 9px 9px;
    margin:3px;
}
.cart-button:hover{
    background-color:#b7692a;
}
@media(max-width: 769px){
    .card-container{
      grid-template-columns: auto;
      gap: 10px;
    }
}
